//Variables//////

$base_green: #3498db;
$base_white: #fff;
$base_black1: #000;
$base_black2: #333;
$base_gray: #ECECEC;

// color pallete

$blue1: #3498db;
$blue2: #0798BC;
$blue3: #18bc9c;
$green1:#58C433;
$yellow:#FBBC05;
$orange:#FF6853;
$red:#e62739;
$purple:#9068be;
$pink:#f14ca7;

